/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
.logo-booki {
    width: 61.09px;
    height: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#menu {
    float: right;
    margin-top: 16px;
}

.menu {
    margin-right: 68px;
    
}

.menu:hover {
    color: var(--main-color);
    border-top: var(--main-color) solid 2px;
    padding-top: 14px; 
}

.menu-1:hover {
    color: var(--main-color);
    border-top: var(--main-color) solid 2px;
    padding-top: 14px; 
}

/****** Headline ***********/
.title {
    width: 1340px;
    height: 26px;
    font-size: 22px;
    margin-bottom: 8px;
}

.subtitle {
    margin-bottom: 35px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.square-logo {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
}

.place {
    width: 14px;
    height: 18px;
    padding: 18px;
}

.form-input {
    display: flex;
    width: 195px;
    height: 49px;
    border: solid var(--main-bg-color) 1px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.form-buttom {
    display: flex;
    width: 132px;
    height: 49px;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-bg-color);
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}

.filtered {
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 35px;
}

.title-list {
    display: flex;
    font-size: 18px;
    width: 54px;
    height: 21px;
    font-weight: bolder;
    gap: 15px;
}

.puce {
    display: flex;
    list-style: none;
    gap: 15px;
}

.economic {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 25px;
    border: solid 2px var(--main-bg-color);
    background-color: #FFF;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.family {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 25px;
    border: solid 2px var(--main-bg-color);
    background-color: #FFF;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.romantic {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 25px;
    border: solid 2px var(--main-bg-color);
    background-color: #FFF;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.nuggets {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 25px;
    border: solid 2px var(--main-bg-color);
    background-color: #FFF;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.economic:hover {
    background-color: var(--filter-bg-color);
}

.family:hover {
    background-color: var(--filter-bg-color);
}

.romantic:hover {
    background-color: var(--filter-bg-color);
}

.nuggets:hover {
    background-color: var(--filter-bg-color);
}

.nb-logement {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info {
    border-radius: 25px;
    border: solid 1px var(--main-bg-color);
    background-color: #FFF;
    width: 24px;
    height: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.hebergements-title {
    font-size: 22px;
}

.line-1, .line-2 {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.big-card {
    width: 250px;
    height: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    padding-bottom: 15px;
    gap: 4px;
}

.big-card img {
    max-width: 100%;
    max-height: 50%;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    border: 5px solid #FFF;
}

.big-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0px 15px;
    align-self: stretch;
}

.big-card-txt {
    gap: 8px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
}

.hebergements button {
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activity ***********/
.activity { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    padding: 30px;
}

.marseille {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activity-title {
    font-size: 22px;
}

.activity-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activity-card {
    width: 298px;
    height: 439px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    padding-bottom: 15px;
    gap: 4px;    
}

.activity-card img {
    width: 298px;
    height: 380px;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
}

.activity-content {
    display: flex;
    padding: 20px 19px;
    align-items: flex-start;
}
    
    

.activity-title {
    font-size: 16px;
    
}

/****** Footer ***********/
footer {
    display: flex; 
    background-color: #F2F2F2;  
    padding: 20px;
    margin-top: 35px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-block-start: 0px;
    margin-block-end: 15px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-items: flex-start;
    align-self: stretch;  
}

.footer-links {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-items: flex-start;
    align-self: stretch;
    gap: 15px;
}







/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}