/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
.logo-booki {
    width: 61.09px;
    height: 19px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#menu {
    float: right;
    margin-top: 16px;
}

.menu {
    margin-right: 68px;
    
}

.menu:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
    padding-top: 16px; 
}

.menu-1:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
    padding-top: 16px; 
}

/****** Headline ***********/
.title {
    width: 1340px;
    height: 26px;
    font-size: 22px;
    margin-left: 50px;
    margin-bottom: 8px;
}

.subtitle {
    margin-left: 50px;
    margin-bottom: 35px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 35px;
}

.square-logo {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
}

.place {
    width: 14px;
    height: 18px;
    padding: 18px;
}

.form-input {
    display: flex;
    width: 195px;
    height: 49px;
    border: solid #F2F2F2 1px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.form-buttom {
    display: flex;
    width: 132px;
    height: 49px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    border: none;
    cursor: pointer;
}

.filtered {
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 35px;
}

.title-list {
    display: flex;
    font-size: 18px;
    margin-left: 50px;
    width: 54px;
    height: 21px;
    font-weight: bolder;
    gap: 15px;
}

.puce {
    display: flex;
    list-style: none;
    gap: 15px;
}

.economic {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 25px;
    border: solid 2px #F2F2F2;
    background-color: #FFFFFF;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.family {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 25px;
    border: solid 2px #F2F2F2;
    background-color: #FFFFFF;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.romantic {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 25px;
    border: solid 2px #F2F2F2;
    background-color: #FFFFFF;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.nuggets {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 25px;
    border: solid 2px #F2F2F2;
    background-color: #FFFFFF;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.economic:hover {
    background-color: #DEEBFF;
}

.family:hover {
    background-color: #DEEBFF;
}

.romantic:hover {
    background-color: #DEEBFF;
}

.nuggets:hover {
    background-color: #DEEBFF;
}

.nb-logement {
    display: flex;
    margin-left: 50px;
    gap: 10px;
    align-items: center;
}

.info {
    border-radius: 25px;
    border: solid 1px #F2F2F2;
    background-color: #FFFFFF;
    width: 24px;
    height: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Footer ***********/
footer {
    display: flex; 
    background-color: #F2F2F2;  
    margin-left: 50px;
    padding: 20px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-block-start: 0px;
    margin-block-end: 15px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-items: flex-start;
    align-self: stretch;  
}

.footer-links {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-items: flex-start;
    align-self: stretch;
    gap: 15px;
}







/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}